:global(.TwakeTheme--light-normal)
  --primaryColor: #635ED4 !important
  --primaryColorDark: #4741ac !important
  --secondaryColor: #8070E5 !important
  --primaryColorLight: #d1cfff !important
  --primaryColorLightest #e1dfff !important
  --primaryBackground: #645ed41f !important
  --secondaryBackground: #645ed41f !important