:global(.TwakeTheme--light-normal)
    --primaryColor #635ED4
    --primaryColorDark #4741ac
    --secondaryColor #8070E5
    --primaryColorLight #d1cfff
    --primaryColorLightest #e1dfff
    --primaryBackground #645ed41f
    --secondaryBackground #645ed41f
