.item-name-input
    border 0
    outline 0
    background transparent
    text-overflow ellipsis

.item-name-input-disabled
    pointer-events none

.list-item-selected
    background var(--primaryBackground)

.list-item-opened
    background var(--actionColorSelected)

.list-item-opened.list-item-selected
    background var(--primaryBackground)
