.item-name-input
  border: none
  outline: none
  background: transparent
  text-overflow:ellipsis

.list-item-selected
  background: var(--primaryBackground) !important

.list-item-opened
  background: var(--actionColorSelected) !important

.list-item-opened.list-item-selected
  background: var(--primaryBackground) !important