.flashcard
  border: 1px solid #4242441f
  backface-visibility: hidden
  border-radius: 8px
  padding: 1rem
  margin-bottom: 1rem
  box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1)
  height: 256px
  width: 256px
  cursor: pointer
  background: var(--paperBackgroundColor)
  position: absolute

.flashcard *
  user-select: none

.flashcard-answer
  background: var(--primaryColor)
  color: white