.flashcard
  border: 1px solid #4242441f
  border-radius: 8px
  padding: 1rem
  margin-bottom: 1rem
  box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1)
  height: 256px
  width: 100%
  cursor: pointer

.flashcard *
  user-select: none